.ui-navbar .ui-btn .ui-icon {
	width: 30px;
	height: 30px;
	margin-left: -15px;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: none !important;
	border-radius: none !important;
}

.hidesup {
	display: inline-block;
	height: 12px;
	width:0px;
}

.ui-icon-shadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-icon-text {
	background-image: none; 
	background: transparent;
	font-size: 10px;
	top: 12px;
	height: 30px;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform:uppercase;
}

.ui-dialog .ui-header {
	margin-top:50px;
}

.ui-header .ui-title  {
	margin: 0.4em 40px 0.6em 40px;
}
.ui-header .ui-btn-right {
	top: 0.2em !important;
}

.radioDialog .ui-btn-inner {
	width: 22px;
	overflow: visible !important;
}

.radioDialog .ui-btn {
	text-align:center;
}

.radioDialog fieldset {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0.5em;
}

#mainPage .ui-content {
	margin: auto 0 !important;
	padding : 7px;
}

.radioDialog .ui-content {
	padding: 0;
}


#key .ui-icon {
	background: url(105-piano.png) 50% 50% no-repeat;
	background-size: 23px 22px;
}
#pos .ui-icon {
	background: url(74-location.png) 50% 50% no-repeat;
	background-size: 20px 20px;
}
#harp .ui-icon {
	background: url(66-microphone.png) 50% 50% no-repeat;
	background-size: 12px 24px;
}
#overblows.obs-on .ui-icon {
	background: url(117-todo-on.png) 50% 50% no-repeat;
	background-size: 24px 24px;
}
#overblows.obs-off .ui-icon {
	background: url(117-todo-off.png) 50% 50% no-repeat;
	background-size: 24px 24px;
}

.harpTable {
	width:100%;
}

#legendTable {
	margin-top: 5px;
	font-size: 13px;
	text-align: center;
}

#legendTable .overblow {
	font-size:18px;
}

#legendTable .legendItem {
	white-space: nowrap;
}
#legendTable span {
	display:block;
	width:21px;
	height:21px;
	border-right: 1px solid #444;
}
#legendTable .blow0 div { 
	display: inline-block;
	vertical-align: middle;
}

.mainTable {
	font-size: 15px;
	color: #1B1B1B;
}

.harpTable td {
	width: 10%;
	text-align: center;
}
.harpTable td span {
	display:block;
}
.harpTable .blow0 span, .harpTable .draw0 span {
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	border-right: 1px;
}

.mainTable .blow0 .last span, .mainTable .draw0 .last span {
	border-right: 1px solid #444;
}

.mainTable .blow0 td {
	border-bottom: 1px solid black;
}

.mainTable .draw0 td {
	border-top: 1px solid black;
}

span.overblow  {
	color: red;
	text-shadow: 0 -1px 1px white;
}

.blow1 td span, .blow2 td span, .draw1 td span, .draw2 td span, .draw3 td span{
	background-color: #D8D8D8;
}

.mainTable .holeRow td.last {
	border-right: 1px solid black;
}

.mainTable .holeRow td {
	color: gray;
	border-left: 1px solid black;
}
.mainTable .holeRow span {	
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}

.scale-note-0, .scale-note-1, .scale-note-2, .scale-note-3, .scale-note-4, .scale-note-5, .scale-note-6, .scale-note-7, .scale-note-8 {
	color: white;
	text-shadow: 0 -1px 1px #145072;
	text-decoration: none;
	outline: 0;
}

.scale-note-1, .scale-note-2, .scale-note-3, .scale-note-4, .scale-note-5, .scale-note-6, .scale-note-7, .scale-note-8, .scale-note-9 {
	background: #85BAE4;
	background-image: -moz-linear-gradient(top,#85BAE4,#5393C5);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#85BAE4),color-stop(1,#5393C5));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#85BAE4', EndColorStr='#5393C5')";
}
.scale-note-0 {
	background: #507089;
	background-image: -moz-linear-gradient(top,#507089,#325876);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#507089),color-stop(1,#325876));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#507089', EndColorStr='#325876')";
}

.scale-note.overblow {
	color: #aaa;
}